<!DOCTYPE html>
<html lang="cn">
<head>
    <meta charset="UTF-8">
    <title>chat.enba.com WebSocket chat server</title>
</head>
<body>
<div class="text-wrapper" style="opacity: 1; min-height: 200px; margin-top: 48px; padding: 0 16px;">
    <h1 style="opacity: 1;
        transform: translate(0px, 0px);
        display: block;
        font-size: 2em;
        font-weight: bold;
        text-align: center;
    ">
       欢迎
    </h1>
    <p style="opacity: 1;
       transform: translate(0px, 0px);
       display: block; text-align: center">
        基于WebSocket 的聊天示例，需要登陆
    </p>
    <div class="home-btns"
         style="opacity: 1; transform: translate(0px, 0px);display: block;min-width: 100%;white-space: nowrap;text-align: center; align-items: center; -webkit-box-align: center; margin-top: 24px;">
        <a href='/test/'>
            <button type="button" class="button-test"
                    style="
                    display: inline-block;
                    color: #fff;
                    background: #2f54eb;
                    height: 40px;
                    padding: 0 24px;
                    font-size: 16px;
                    font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
                    line-height: 38px;
                    text-align: center;
                    text-decoration: none;
                    border: 1px solid #2f54eb;
                    border-radius: 100px;
                    text-shadow: 0 -1px 0 rgba(0,0,0,0.12);
                    box-shadow: 0 2px 0 rgba(0,0,0,0.045);">
                测试页面
            </button>
        </a>
        <a href="/api/docs/" style="margin-left: 16px;">
            <button type="button" class="button-docs"
                    style="color: #2f54eb;
                            display: inline-block;
                            height: 40px;
                            padding: 0 24px;
                            font-size: 16px;
                            font-family: -apple-system,BlinkMacSystemFont,'Segoe UI','PingFang SC','Hiragino Sans GB','Microsoft YaHei','Helvetica Neue',Helvetica,Arial,sans-serif,'Apple Color Emoji','Segoe UI Emoji','Segoe UI Symbol';
                            line-height: 38px;
                            text-align: center;
                            text-decoration: none;
                            border: 1px solid #2f54eb;
                            border-radius: 100px;">
                查看文档
            </button>
        </a>
    </div>
</div>
</body>
</html>